.red {
  background-color: red;
  color: #fff;
  padding: 2rem;
}

.blue {
  background-color: blue;
  color: #fff;
  padding: 2rem;
}

.green {
  background-color: green;
  color: #fff;
  padding: 2rem;
}
